@charset "utf-8";
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* font-family: "GmarketSansMedium"; */
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #232323;
  --mx: 1080px;
  letter-spacing: -1px;
}
img {
  width: 100%;
  display: block;
}
::selection {
  background: #ffe400;
}
.wrap {
  overflow: hidden;
}
.inner {
  max-width: var(--mx);
  width: calc(100% - 1rem);
  margin: 0 auto;
}
h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.35;
  padding: 0 0 1rem;
}
.contentRightBtn {
  display: flex;
  align-items: center;
  text-align: cneter;
}
.contentRightBtn span {
  padding: 1rem 1.5rem;
  background-color: #f6f6f6;
  border-radius: 0.75rem;
  font-size: 1rem;
}

/* 커스텀 */
/* header */
.hd {
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.hd_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  min-width: 100px;
  max-width: 130px;
}

.logo a {
  display: block;
  width: 100%;
}
/* gnb */
.gnb_wrap {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.gnb {
  display: flex;
}

.gnb > li > a {
  display: flex;
  align-items: center;
  width: 100px;
  height: 50px;
}
.gnb > li:hover .subGnb {
  max-height: 800px;
  padding: 2rem 0;
  transition: max-height 0.4s, padding 0s;
}
/* sub_gnb 2dapth */
.subGnb {
  position: absolute;
  top: 51px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  text-align: center;
  max-height: 0;
  overflow: hidden;
}
.inner_con {
  max-width: var(--mx);
  width: 100%;
  display: flex;
  margin: 0 auto;
  background-color: #fff;
}
.subGnb .inner_con > li {
  color: #000;
  width: 100%;
}
.subGnb .inner_con > li > a {
  display: block;
  padding: 0.5rem 1rem 1rem;
}

.dapth3 li {
  font-size: 0.85rem;
  background-color: #fff;
}
.dapth3 li a {
  display: block;
  padding: 0.5rem 0;
}
.pageBtn {
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  background-color: #fede22;
  border: #fede22;
  margin-right: 2rem;
}
.hd button {
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.hd button i {
  font-size: 1.15rem;
}
.hamBtn {
  display: none;
}
/* 메인이미지 */
.mainVisuCon {
  position: relative;
  transform: translateY(51px);
}
.mainVisuCon::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffef6b;
  left: 0;
  top: 0;
  transform: translateY(-17%);
}

.mainVisu {
  background: url(../image/main-bg3.png) no-repeat center/ 100%;
  position: relative;
  padding-top: 70%;
}

.mainVisuText {
  position: absolute;
  width: 50%;
  top: 20%;
  left: 20%;
  transform: translate(-20%, -20%);
}
.mainVisuText h3 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -3px;
}
.mainVisuText p {
  padding-bottom: 0.5rem;
  opacity: 1;
  transition: 0.2s;
}
.btnCon a:first-of-type {
  margin-right: 0.5rem;
}
.btnCon {
  padding-top: 1vw;
  display: flex;
  align-items: center;
}
.btnCon a {
  border: 1px solid #fff;
  background-color: #fff;
  display: flex;
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  white-space: nowrap;
}
.btnCon a img {
  width: 17px;
}
.btnCon a span {
  padding-left: 0.5rem;
  transform: translateY(3px);
}
.line {
  height: 60px;
  width: 100%;
  background-color: #fafafa;
  margin-top: 2rem;
}
/* 섹션1*/
.contentWrap {
  padding: 2rem 0;
  transform: translateY(51px);
  overflow: hidden;
}
.contentWrap > div {
  display: flex;
}
.contentWrap .contentLeft {
  width: 50%;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentWrap .contentLeft img {
  width: 80%;
}
.contentWrap .contentRight {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.contentWrap .contentRight > * {
  width: 100%;
}
.contentWrap .contentRight_tit {
  padding: 0 0 2rem;
  font-size: 2rem;
  font-weight: 600;
}
.contentWrap .contentRight_subtit {
  color: #666666;
  padding-bottom: 2rem;
}

/* 섹션2 */
.fixedContent {
  padding: 2rem 0;
  transform: translateY(51px);
  overflow: hidden;
}
.fixedContent > div {
  display: flex;
}
.fixedContent .contentLeft {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.fixedContent .contentLeft > * {
  width: 100%;
}
.fixedContent .contentRight_tit {
  padding: 0 0 2rem;
  font-size: 2rem;
  font-weight: 600;
}
.fixedContent .contentRight_subtit {
  color: #666666;
  padding-bottom: 2rem;
}
.fixedContent .btnWrap {
  padding: 0.5rem 0;
  display: flex;
}
.fixedContent .btnWrap a {
  padding: 1rem 1.5rem;
  background-color: #f6f6f6;
  border-radius: 0.75rem;
  font-size: 1rem;
}
.fixedContent .btnWrap a:first-of-type {
  margin-right: 0.75rem;
}
.fixedContent .imgCon {
  padding-top: 2rem;
}
.fixedContent .imgCon img {
  width: 75%;
}

.fixedContent .contentRight {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.fixedContent.section2 .contentRight img {
  width: 80%;
  transform: translate(420px, 0);
  transition: 0.8s;
  opacity: 0;
}
.fixedContent.section2 .contentRight img.on {
  transform: translate(0);
  opacity: 1;
}
/* 섹션3(섹션1과동일) */
/* 생략 */
/* 섹션4(섹션2와 동일하나 추가수정) */
.fixedContent.section4 {
  padding: 2rem 0;
  transform: translateY(51px);
  overflow: hidden;
}
.fixedContent.section4 > div {
  display: flex;
}
.fixedContent.section4 .contentLeft {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.fixedContent.section4 .contentLeft > * {
  width: 100%;
}
.fixedContent.section4 .contentRight_tit {
  padding: 0 0 2rem;
  font-size: 2rem;
  font-weight: 600;
}
.fixedContent.section4 .contentRight_subtit {
  color: #666666;
  padding-bottom: 2rem;
}
.fixedContent.section4 .btnWrap {
  padding: 0.5rem 0;
  display: flex;
}
.fixedContent.section4 .btnWrap a {
  padding: 1rem 3rem;
  background-color: #f6f6f6;
  border-radius: 0.75rem;
  font-size: 1rem;
}
.fixedContent.section4 .contentRight {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fixedContent.section4 .contentRight img {
  width: 80%;
}
/* 섹션5 */
.contentWrap.section5 .contentLeft {
  overflow: hidden;
}
.contentWrap.section5 .contentRight {
  position: relative;
}
.contentWrap.section5 .contentRight::before {
  content: "";
  position: absolute;
  top: 0;
  left: -180%;
  width: 100%;
  height: 100%;
  transform: translate(30%);
  z-index: -1;
  background-image: url(../image/section5Bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.contentWrap.section5 .contentLeft img {
  transform: translate(0, 100%);
  transition: 0.8s;
  opacity: 0;
}
.contentWrap.section5 .contentLeft img.on {
  transform: translate(0);
  opacity: 1;
}
/* 섹션6 */
.section6 {
  position: relative;
  background-color: #333b58;
  /* transform: translateY(50px); */
}

.section6 .inner {
  padding-top: 7rem;
  color: #fff;
  position: relative;
  text-align: center;
}
.section6 .sky {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #559cde;
  width: 100%;
  height: 100%;
  transition: 1.5s;
}

.section6 p {
  font-size: 0.85rem;
  line-height: 1.5;
  font-weight: 300;
  text-align: center;
}
.section6 .linkWrap {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.section6 .linkWrap a {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.09);
  padding: 1rem 3rem;
  margin: 0 0.25rem;
}
.section6 .imgCon {
  display: flex;
  justify-content: center;
}
.section6 .imgCon img {
  width: 35%;
}
.section6 .moon {
  position: absolute;
  top: 10%;
  right: -10%;
  overflow: hidden;
}
.section6 .moonOriginal {
  background-color: #ffe400;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.section6 .moonSd {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #559cde;
  top: 85%;
  right: 45%;
  position: absolute;
  transform: translate(-10%, -190%);
}
.section6 .stars {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.section6 .stars div {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: absolute;
  background-color: #559cde;
}
.section6 .stars div:nth-of-type(1) {
  top: 15%;
  left: 10%;
}
.section6 .stars div:nth-of-type(2) {
  top: 25%;
  left: 25%;
}
.section6 .stars div:nth-of-type(3) {
  top: 35%;
  left: 40%;
}
.section6 .stars div:nth-of-type(4) {
  left: 68%;
  bottom: 44%;
}
.section6 .stars div:nth-of-type(5) {
  bottom: 10%;
  left: 75%;
}
.section6 .stars div:nth-of-type(6) {
  bottom: 33%;
  left: 80%;
}
.section6 .stars div:nth-of-type(7) {
  bottom: 45%;
  left: 30%;
}
.section6 .stars div:nth-of-type(8) {
  top: 44%;
  left: 14%;
}
.section6 .stars div:nth-of-type(9) {
  bottom: 12%;
  left: 7%;
}
.section6 .stars div:nth-of-type(10) {
  top: 31%;
  right: 37%;
}
.section6 .stars div:nth-of-type(11) {
  top: 25%;
  right: 10%;
}
.section6 .stars div:nth-of-type(12) {
  left: 72%;
  top: 43%;
}
.section6 .stars div:nth-of-type(13) {
  left: 35%;
  bottom: 10%;
}
/* 어두어진 밤하늘 */
.section6.night .sky {
  height: 0;
}
.section6.night .moonOriginal {
  background-color: #fff;
}
.section6.night .moonSd {
  top: 85%;
  right: 45%;
  transform: translate(20%, -100%);
  background-color: #333b58;
  transition: transform 1s 0.4s, background-color 0s;
}
.section6.night .stars div {
  background-color: #333b58;
  animation-duration: 3s;
  animation-name: twinkle;
  animation-iteration-count: infinite;
  transition: background-color 2s, box-shadow 1s;
}

/* 별 애니메이션 */
@keyframes twinkle {
  0% {
  }

  50% {
    box-shadow: 0 0 3px rgba(255, 255, 255, 1), 0 0 6px rgba(255, 255, 255, 1),
      0 0 9px rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 1);
  }

  100% {
  }
}

/* section7 */
.section7 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.section7 h2 {
  width: 100%;
  padding: 3rem 0 1rem;
}
.section7 p {
  width: 100%;
  padding: 0 0 1rem;
}
.section7 .slideWrap {
  width: 100%;
  padding-top: 4rem;
  position: relative;
  border: 10px solid dodgerblue;
}
.section7 .innerCon {
  margin: auto;
  width: 50%;
  padding: 2rem 0;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  position: relative;
  border: 1px solid darkred;
  /* overflow: hidden; */
}
.section7 .slideList {
  margin: 30px 0;
  width: 133%;
  display: flex;
  /* justify-content: center; */
  /* border: 1px solid red; */
}
.section7 .slideCard {
  width: calc(100% / 4);
  padding-top: 50%;
  position: relative;
  /* border: 2px solid red; */
}
.section7 .slideCard:nth-of-type(1) {
  /* margin-right: -20px; */
  /* margin-left: -20px; */
}
.section7 .slideCard:nth-of-type(3) {
  /* margin-left: -20px; */
  /* border: 2px solid red; */
}
.section7 .slideCard:nth-of-type(4) ~ li {
  display: none;
}
.section7 .slideCard img {
  position: absolute;
  top: 0;
  left: 0;
}

/* .section7 .slideCard:nth-of-type(2){
  transform: scale(1.1);
  z-index: 1;
} */

/* .section7 .slideCard:nth-of-type(2) {
  z-index: 1;
  top: -20px;
  left: -10px;
} */
/* .section7 .slideCard:nth-of-type(2) {
  margin-left: -20px;
  margin-right: -20px;
  z-index: 1;
  top: -20px;
  left: -10px;
  transition: 0.4s;
} */
/* .section7 .slideCard.active {
  margin-left: -20px;
  margin-right: -20px;
  z-index: 1;
  top: -20px;
  left: -10px;
} */

/* .section7 .slideCard:nth-of-type(2) img {
  width: 110%;
} */
.section7 .btnWrap {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section7 .btnWrap button {
  border: 2px solid #eaeaea;
  border-width: 2px 2px 0 0;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 0.25rem;
  cursor: pointer;
  position: absolute;
}
.section7 .btnWrap button:first-of-type {
  transform: rotate(-135deg);
  left: -10px;
}
.section7 .btnWrap button:last-of-type {
  transform: rotate(45deg);
  right: -10px;
}
.section7 .slideWrap .innerCon footer {
  transform: translateY(101px);
}

/* header반응형 */
@media (max-width: 768px) {
  .hd {
    height: 50px;
    padding-top: 0.5rem;
  }
  .hd.on {
    border-bottom: none;
    background-color: #fff;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    padding-top: 10px;
  }
  .hd.on .hd_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* gnb */
  .gnb_wrap {
    display: none;
  }

  .hd.on .gnb_wrap.on {
    display: block;
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
  }

  .hd.on .gnb {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .hd.on .gnb > li {
    width: 100%;
  }
  .hd.on .gnb > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    font-size: 1.5rem;
  }
  .hd.on .gnb > li:hover .subGnb {
    max-height: 800px;
    padding: 0;
    transition: max-height 0.4s, padding 0s;
  }
  /* sub_gnb 2dapth */
  .hd.on .subGnb {
    position: static;
    width: 100%;
    display: block;
    justify-content: center;
    background-color: #ffdbdb;
    max-height: 0;
    overflow: hidden;
  }
  .hd.on .inner_con {
    max-width: var(--mx);
    width: 100%;
    display: block;
    margin: 0;
    background-color: inherit;
  }
  .hd.on .dapth3 {
    display: none;
  }

  .pageBtn {
    display: none;
  }
  .hd.on .pageBtn {
    display: block;
    position: absolute;
    bottom: 17px;
    right: 30px;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    margin-right: 2rem;
    font-size: 0.85rem;
    letter-spacing: 0.7px;
  }
  .hd button:nth-of-type(2) {
    display: none;
  }
  .hd.on button:nth-of-type(2) {
    display: block;
    position: absolute;
    bottom: 10px;
    right: 20px;
  }

  .hamBtn {
    display: block;
    position: relative;
  }
  .hamBtn::before {
    content: "\f0c9";
    font-family: "Font Awesome 5 Free"; /*폰트어썸 fas, far 글꼴 연결*/
    font-weight: 600;
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.05rem;
  }
  .hd.on .hamBtn.on::before {
    content: "\f00d";
  }
}

/* mainVis 반응형 */
@media (max-width: 580px) {
  .mainVisuText h3 {
    font-size: 1.5rem;
  }
  .mainVisuText p {
    opacity: 0;
    height: 0;
    overflow: hidden;
  }
}
@media (max-width: 530px) {
  .mainVisuText {
    transform: 0;
    width: 100%;
    transform: translate(-10%, -20%);
  }
  .mainVisuText h3 {
    font-size: 1.5rem;
  }
  .mainVisuText p {
    /* display: none; */
    font-size: 0.75rem;
  }
  .btnCon a {
    border: 1px solid #fff;
    background-color: #fff;
    display: flex;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    white-space: nowrap;
    font-size: 0.8rem;
  }
  .btnCon a img {
    width: 12px;
  }
  .btnCon a span {
    padding-left: 0.5rem;
    transform: translateY(0px);
    font-size: 0.75rem;
  }
}
@media (max-width: 340px) {
  .mainVisuText h3 {
    font-size: 1rem;
  }
  .mainVisuText p {
    display: none;
  }
}
/* section1 반응형 */
@media (max-width: 768px) {
  .contentWrap .contentLeft {
    width: 70%;
  }

  .contentWrap .contentRight_tit {
    font-size: 1.25rem;
  }
  .contentWrap .contentRight_subtit {
    font-size: 0.75rem;
  }

  .contentWrap .contentRightBtn span {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
  }
}
@media (max-width: 480px) {
  .contentWrap > div {
    flex-wrap: wrap;
  }
  .contentWrap .contentLeft {
    width: 100%;
    order: 1;
    transform: translateY(-10%);
  }
  .contentWrap .contentRight {
    width: 100%;
    padding-top: 2rem;
    transform: translateY(-20%);
  }

  .contentWrap .contentRight_tit {
    text-align: center;
  }
  .contentWrap .contentRight_subtit {
    text-align: center;
  }
  .contentWrap .contentRightBtn {
    justify-content: center;
  }
}
/* section2 반응형 */
@media (max-width: 768px) {
  .fixedContent .contentRight {
    width: 80%;
  }
  .fixedContent .contentRight_tit {
    font-size: 1.25rem;
  }
  .fixedContent .contentRight_subtit {
    display: none;
  }
  .fixedContent .btnWrap {
    padding: 0;
    display: flex;
    width: 100%;
  }
  .fixedContent .btnWrap a {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
  }

  .fixedContent .imgCon img {
    width: 100%;
  }

  .fixedContent .contentRight img {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .fixedContent .inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .fixedContent .contentLeft {
    text-align: center;
    width: 100%;
  }
  .fixedContent .contentRight_subtit {
    display: block;
    font-size: 0.75rem;
  }
  .fixedContent .btnWrap {
    justify-content: center;
  }
}
/* section3 반응형 */
@media (max-width: 480px) {
  .contentWrap.section3 > div {
    flex-wrap: wrap;
  }
  .contentWrap.section3 .contentLeft {
    width: 100%;
    order: 1;
    transform: translateY(-10%);
  }
  .contentWrap.section3 .contentLeft img {
    width: 88%;
  }
  .contentWrap.section3 .contentRight {
    width: 100%;
    padding-top: 2rem;
    transform: translateY(-20%);
  }

  .contentWrap.section3 .contentRight_tit {
    text-align: center;
    padding-bottom: 1rem;
  }
  .contentWrap.section3 .contentRight_subtit {
    text-align: center;
    padding-bottom: 0.5rem;
  }
  .contentWrap.section3 .contentRightBtn {
    justify-content: center;
  }
}

/* section4 반응형 */
@media (max-width: 768px) {
  .fixedContent.section4 .contentRight_tit {
    font-size: 1.25rem;
  }
  .fixedContent.section4 .contentRight_subtit {
    display: block;
    font-size: 0.75rem;
  }
  .fixedContent.section4 .btnWrap {
    padding: 0.5rem 0;
    display: flex;
  }
  .fixedContent.section4 .btnWrap a {
    padding: 1rem 3rem;
    background-color: #f6f6f6;
    border-radius: 0.75rem;
    font-size: 0.75rem;
  }

  .fixedContent.section4 .contentRight img {
    width: 80%;
  }
}
@media (max-width: 480px) {
  .fixedContent.section4 .contentRight_tit {
    padding-bottom: 1rem;
  }
  .fixedContent.section4 .contentRight_subtit {
    padding-bottom: 0.5rem;
  }
}
